body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

.main_title {
    color: #ff7543; 
    font-size: 40px;
    margin: 0;
    align-self: flex-start; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}

input.input_group {
    display: block;
    width: 320px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #a9a9a9;
    font-size: 18px;
    box-sizing: border-box;
}

.button_login {
    background-color: #444;
    color: #ffffff; 
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
    width: 320px; 
    cursor: pointer;
    margin-top: 10px;
}

.signup_row {
    margin-top: 25px;
}

.button_signup {
    background-color: #444; 
    color: #ffffff; 
    padding: 10px 20px;
    text-decoration: none; 
    border-radius: 8px;
    font-size: 16px;
    display: inline-block;
    width: 280px; 
    text-align: center;
}

.dashboard_container {
    padding: 20px;
    display: block; 
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.subject_list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.subject_card {
    display: block;
    background-color: #444;
    color: white;
    padding: 30px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
}
