{% extends "base.html" %}
{% block title %}register{% endblock %}

{% block content %}
    <h1 class="brand_title">W Notes+</h1>
    <h2 class="view_title">signup</h2>

    <div style="width: 300px;">
        <form action="{{ url_for('signup') }}" method="POST">
            <input type="text" name="username" placeholder="username" class="input_field" required>
            <input type="email" name="email" placeholder="email" class="input_field" required>
            <input type="password" name="password" placeholder="password" class="input_field" required>
            <button type="submit" class="button_signup" style="width: 100%;">create account</button>
        </form>
        <p style="font-size: 0.8em; margin-top: 20px; text-align: center;">
            <a href="{{ url_for('signin') }}" style="color: #888; text-decoration: none;">already registered? login</a>
        </p>
    </div>
{% endblock %}