<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>W Notes+ Sign Up</title>
</head>
<body class="login_container">
    <h1 class="main_title">W Notes+</h1>
    
    <form method="POST" action="/signup">
        <input type="text" name="username" placeholder="Username" class="input_group" required>
        <input type="email" name="email" placeholder="Email" class="input_group" required>
        <input type="password" name="password" placeholder="Password" class="input_group" required>

        <button type="submit" class="button_login">Create account</button>
        
        <div class="signup_row">
            <a href="/signin" class="button_signup">Login instead</a>
        </div>
    </form>
</body>
</html>