<!DOCTYPE html>
<html lang="en">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <p style="color: red; font-weight: bold;">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form action="/signin" method="POST">
    </form>
<form method="POST">
    <h2>Sign in</h2>
    <input type="text" name="username or email" placeholder="Username or Email" required> <!-- sign in with username or email -->
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
    <p>Don't have an account?</p>
    <a href="{{ url_for('signup') }}">
        <button type="button">Sign Up Here</button>
    </a>
</form>
</html>