<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>W Notes+ Login</title>
</head>
<body class="login_container">
    <h1 class="main_title">W Notes+</h1>
    
    <form method="POST" action="/signin">
        <input type="text" name="username or email" placeholder="Username or Email" class="input_group" required>
        <input type="password" name="password" placeholder="Password" class="input_group" required>

        <button type="submit" class="button_login">Login</button>
        
        <div class="signup_row">
            <a href="/signup" class="button_signup">Sign up instead</a>
        </div>
    </form>
</body>
</html>